*{
    margin: 0px;
    padding:0px;
    font-family: 微软雅黑;
}

.big_top{
    width: 100%;
    height: 240px;
}

.big_bottom{
    width: 100%;
    height: 600px;
}

.content{
    width: 1100px;
    height:1840px;
    margin: auto;
}

.content_left{
    width: 1000px;
    height:1840px;
    float: left;
    position: relative;
}

/*top*/
.top{
    width: 1000px;
    height: 400px;
}

#top_image_a{
    display: inline-block;
    width: 1000px;
    height: 400px;
    position: relative;
}

#top_image_a>img{
    display: inline-block;
    width: 1000px;
    height: 400px;
}

.scroll_number_over{
    background-color: white;
}

.scroll_number_out{
    opacity: 0.6;
}

.scroll_right{
    display: inline-block;
    width: 140px;
    height: 30px;
    background-color: grey;
    opacity: 0.6;
    position: absolute;
    left:425px;
    top:350px;
    padding-left: 10px;
    border: 1px grey solid;
    border-radius: 15px;
}

.scroll_right li{
    display: inline-block;
    list-style: none;
    width: 12px;
    height: 12px;
    border: 1px grey solid;
    border-radius: 6px;
    float: left;
    margin: 9px;
    background-color: white;
}

.btn_a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    color:grey ;
    opacity: 0.6;
}

#scroll_left_btn1{
     position: absolute;
     top:175px;
 }

#scroll_right_btn1{
    position: absolute;
    top:175px;
    left:950px;
}

.btn_a:hover{
    opacity: 0.9;
}
/*top end*/

.center{
    width: 1000px;
    height: 800px;
    position: relative;
}

.title_p{
    display: inline-block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px black solid;
    position: absolute;
    top: 80px;
    left: 350px;
    font-weight: bold;
}

/*center_image*/
#center_image{
    width: 1000px;
    height: 450px;
    background-color: #7AD3F8;
    position: absolute;
    top: 150px;
}

#center_image a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    color: white;
}

#scroll_left_btn2{
    position: absolute;
    top: 200px;
    left:20px;
}

#scroll_right_btn2{
    position: absolute;
    top: 200px;
    left:930px;
}

#center_image_ul{
    display: inline-block;
    width: 845px;
    height: 350px;
    position: absolute;
    left: 85px;
    top: 70px;
}

#center_image_ul>li{
    list-style: none;
    display: inline-block;
    width:270px;
    height: 350px;
    float: left;
    margin-right: 10px;
}

#center_image_ul>li>a{
    display: inline-block;
    width: 270px;
    height: 350px;
}

#center_image_ul>li>a:hover{
    opacity: 0.8;
}

#good_brand1{
    background: url("image/goodbrand1.jpg");
    background-size: 100% 100%;
}

#good_brand2{
    background: url("image/goodbrand2.jpg");
    background-size: 100% 100%;
}

#good_brand3{
    background: url("image/goodbrand3.jpg");
    background-size: 100% 100%;
}
/*center_image end*/

/*center_ul*/
#center_ul{
    width: 1000px;
    height: 200px;
    position: absolute;
    top: 600px;
}

#center_ul li{
    list-style: none;
    display: inline-block;
    width: 150px;
    margin: 5px 50px;
    height: 90px;
    float: left;
    background-color: #F4F4F4;
    position: relative;
}

#diagonal_line{
    background: url("image/logo-brand-line.png") no-repeat center center;
}

#scroll_left_btn3{
    width: 50px  !important;
    height: 50px !important;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    left: 10px;
    top: 5px;
    color: black;
}

#scroll_right_btn3{
    width: 50px  !important;
    height: 50px !important;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    left: 90px;
    top: 35px;
    color: black;
}

#center_ul li a{
    width: 150px;
    height: 90px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    float: left;
}

#more{
    line-height: 90px;
    font-size: 18px;
    color: #555555;
}

#more:hover{
    text-decoration: underline;
}

#kids_brand1{
    background: url("image/kidsbrand1.jpg") no-repeat center center;
}

#kids_brand1:hover{
    opacity: 0.7;
}

#kids_brand2{
    background: url("image/kidsbrand2.jpg") no-repeat center center;
}

#kids_brand2:hover{
    opacity: 0.7;
}

#kids_brand3{
    background: url("image/kidsbrand3.jpg") no-repeat center center;
}

#kids_brand3:hover{
    opacity:0.7;
}

#kids_brand4{
    background: url("image/kidsbrand4.jpg") no-repeat center center;
}

#kids_brand4:hover{
    opacity:0.7;
}

#kids_brand5{
    background: url("image/kidsbrand5.jpg") no-repeat center center;
}

#kids_brand5:hover{
    opacity:0.7;
}

#kids_brand6{
    background: url("image/kidsbrand6.jpg") no-repeat center center;
}

#kids_brand6:hover{
    opacity:0.7;
}
/*center_ul end*/

.bottom{
    width: 1000px;
    height: 640px;
    position: relative;
}

/*bottom_left*/
.bottom_left{
    width: 180px;
    height: 490px;
    left:0px;
    position: absolute;
    top:150px;
}

.bottom_left p{
    height: 80px;
    font-size: 20px;
    margin-bottom: 10px;
}

.bottom_left p a{
    display: inline-block;
    width: 180px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.bottom_left ul{
    position:absolute;
    top:180px;
    display: inline-block;
    width: 180px;
    height: 270px;
    margin-top: 20px;
}

.bottom_left ul li{
    list-style: none;
    display: inline-block;
    float: left;
    width: 80px;
    height: 20px;
    margin: 10px 5px;
    font-size: 14px;
}

.bottom_left ul li a{
    text-decoration: none;
    color: black;
}
/*bottom_left end*/

/*bottom_center*/
.bottom_center{
    display: inline-block;
    width: 350px;
    height: 490px;
    position: absolute;
    top:150px;
    left:200px;
    background:url("image/kidsdress.jpg");
    background-size: 100% 100%;
}

.bottom_center:hover{
    opacity: 0.8;
}
/*bottom_center end*/

/*bottom_right*/
.bottom_right{
    width: 400px;
    height: 490px;
    display: inline-block;
    position: absolute;
    top:150px;
    left:575px;
}

.bottom_right li{
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 205px;
    margin: 20px 25px;
    float: left;
}

.bottom_right li a{
    display: inline-block;
    width: 150px;
    height: 205px;
}

.bottom_right li a:hover{
    opacity: 0.8;
}

.bottom_right li a img{
    display: inline-block;
    width: 150px;
    height: 205px;
    background-size: 100% 100%;
}
/*bottom_right end*/

.content_right{
    width: 100px;
    height: 1840px;
    float: left;
}

/*add_ul*/
.add_ul{
    display: inline-block;
    width: 70px;
    height: 200px;
    z-index: 100;
    position: fixed;
    top:460px;
    left:1150px;
}

.add_ul li{
    list-style: none;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
    text-align: center;
    float: left;
}

.add_ul li a{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: #808080;
}

.add_ul li a:hover{
    background-color: black;
    transition:all 0.5s ease;
}

.add_ul li a span{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin:20px;
    background: url("image/sprite.base.png") no-repeat -27px 0px;
}
/*add_ul end*/