*{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
    font-size: 14px;
}

.big_top{
    width: 100%;
    height: 240px;
}

.big_bottom{
    width: 100%;
    height: 300px;
}

.kids_content{
    width: 1000px;
    height: 1940px;
    margin: auto;
}

.kids_content_left{
    width: 200px;
    height: 1940px;
    float: left;
}

/*left_top_title*/
.left_top_title{
    display: inline-block;
    width: 200px;
    height:50px;
    line-height: 50px;
    float: left;
}

.left_top_title a{
    text-decoration: none;
    color: #666666;
}
/*left_top_title end*/

/*new_clothes end*/
.new_clothes{
    display: inline-block;
    width: 180px;
    height: 250px;
    border-bottom: 1px #EBEBEB solid;
    float: left;
}

.new_clothes li{
    list-style: none;
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    float: left;
}

.new_clothes li a{
    display: inline-block;
    width: 180px;
    height: 30px;
    float: left;
    text-indent: 20px;
    text-decoration: none;
    color: #666666;
}
/*new_clothes end*/

/*new_classify*/
.new_classify{
    width: 180px;
    height: 325px;
    border-bottom: 1px #EBEBEB solid;
    display: inline-block;
    float: left;
}

.new_classify li{
    list-style: none;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}

.new_classify li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 180px;
    height: 40px;
}
#li14{
    display: inline-block;
    width:200px;
    height:30px;
}
#fashionkids{
    width:200px;
    height:370px;
    display:none ;
}
#fashionkids>a{
    font-weight: normal;
    color:#666666;
}
/*new_classify end*/

.kids_content_right{
    margin-top: 40px;
    width: 800px;
    height: 1900px;
    float: left;
}

/*kids_content_right ul*/
#items_selected>li{
    width: 100px;
    height: 100px;
    margin: 0px 49px;
}

#items_selected>li>a{
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 35px 0px;
    background-color:black;
    color: white;
}

#items_selected>li>a:hover{
    text-decoration: none;
}

.kids_content_right>ul{
    display: inline-block;
    width: 798px;
    height: 100px;
    text-align: center;
    border:1px #DFDFDF solid;
    float: left;
}

.kids_content_right>ul>li{
    list-style: none;
    display: inline-block;
    width: 199px;
    height: 100px;
    line-height: 100px;
    float: left;
}

.kids_content_right>ul>li>a{
    display: inline-block;
    width: 199px;
    height: 50px;
    line-height: 50px;
    float: left;
    color: #6C6C6C;
    text-decoration: none;
    position: relative;
}

.kids_content_right>ul>li>a>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px #CCCCCC solid;
    position: absolute;
    top:15px;
    left:50px;
}

.kids_content_right>ul>li>a:hover{
    text-decoration: underline;
}

.money_write{
    width: 40px;
    height: 20px;
}

#more_select{
    width: 50px;
    margin-left: 75px;
    height: 20px;
    line-height: 20px;
    border: 1px #555555 solid;
}

#black_select{
    background-color: black;
}

#white_select{
    background-color: white;
}

#blue_select{
    background-color: blue;
}

#green_select{
    background-color: green;
}

#red_select{
    background-color: red;
}
/*kids_content_right ul end*/

/*select_bar*/
#select_bar{
    display: inline-block;
    width: 800px;
    height:50px;
    line-height: 50px;
    float: left;
    margin:20px 0px;
    background-color: RGB(245,247,246);
    position: relative;
}

#select_bar>ul{
    display: inline-block;
    width: 400px;
    height: 50px;
    margin-right: 200px;
    float: left;
}

#select_bar>ul>li{
    list-style: none;
    display: inline-block;
    width: 80px;
    height: 50px;
    float: left;
}

#select_bar>ul>li>a{
    display: inline-block;
    width: 80px;
    height: 50px;
    float: left;
    text-align: center;
    color: #99999E;
    text-decoration: none;
}

#select_bar>select{
    width: 60px;
    margin-right: 10px;
}

#select_bar>p{
    display: inline-block;
    width: 100px;
    height: 50px;
    float: right;
    text-align: center;
}

#select_bar>p>a{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 20px;
    height: 50px;
    margin: 0px 5px;
}

#select_bar>p>span{
    color: red;
}
/*select_bar end*/

/*kids_content_right div*/
.kids_content_right>div{
    display: inline-block;
    width: 250px;
    height: 330px;
    float: left;
    margin:15px 8px ;
}

.kids_content_right>div>a{
    display: inline-block;
    width: 250px;
    height: 330px;
    float: left;
    text-decoration: none;
    color: black;
}

.kids_content_right>div>a>img{
    display: inline-block;
    width: 210px;
    margin: 0px 20px;
    height: 280px;
    float: left;
}

.kids_content_right>div>a>p{
    display: inline-block;
    width: 250px;
    height: 25px;
    line-height: 25px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kids_content_right>div>a>p>span{
    width: 125px;
    height: 25px;
    display: inline-block;
    float: left;
    text-align: center;
}
/*kids_content_right div end*/