*{
    margin:0px;
    padding:0px;
}
.main{
    width:1366px;
    height:600px;
}
.top{
    width:100%;
    height:70px;
    border-bottom: 2px solid black;
    position: relative;
}
.logo{
    width:200px;
    height:45px;
    position: absolute;
    left:200px;
    top:17px;
}
.topRight-ul{
    position: absolute;
    left:700px;
    top:30px;
}
.topRight-ul li{
    width:100px;
    height:30px;
    list-style: none;
    float: left;
    text-align: center;
}
.topRight-ul li a{
    text-decoration: none;
    font-size:13px;
    color: #000;
}
.topRight1{
    float: left;
}
#topRight-li{
    width:200px;
    height:30px;
}
.topRight-bottom1{
    width:100px;
    height:60px;
    background: #EAECEB;
    position: absolute;
    left: 900px;
    top:60px;
    display: none;
}
.topRight-bottom1 li{
    list-style: none;
    width:100px;
    height:30px;
    border-top: 1px solid gray;
    line-height:30px;
    text-align: center;
}
.topRight-bottom1 li a{
    text-decoration: none;
    font-size:13px;
    color: #000;
}
.topRight-bottom2{
    width:100px;
    height:60px;
    background: #EAECEB;
    position: absolute;
    left: 1100px;
    top:60px;
    display: none;
}
.topRight-bottom2 li{
    list-style: none;
    width:100px;
    height:30px;
    border-top: 1px solid gray;
    line-height:30px;
    text-align: center;
}
.topRight-bottom2 li a{
    text-decoration: none;
    font-size:13px;
    color: #000;
}
.content{
    width:1166px;
    height:500px;
    margin-left:100px;
}
.content-Left{
    width:400px;
    height:400px;
    float: left;
    margin-top: 100px;
    margin-left: 150px;
    border-right: 1px solid gray;
}
.content-Left img{
    margin-top:100px;
    margin-left:60px;
}
.contentRight-top{
    width:120px;
    height:30px;
    margin-top: 100px;
    margin-left: 100px;
}
.contentRight-span{
    display: inline-block;
    width:60px;
    height:41px;
    font-size: 16px;
    color: gray;
    text-align: center;
    line-height: 41px;
    border: 1px solid gray;
    margin-left:100px;
    margin-top:30px;

}
.tel{
    width:220px;
    height:39px;
    font-size: 16px;
    color: gray;
    line-height: 39px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    margin-left:-10px;

}
.message{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: gray;
    line-height: 40px;
    border: 1px solid gray;
    margin-top:30px;
    margin-left: 100px;
}
.getMessage{
    display: inline-block;
    width:120px;
    height:40px;
    text-align: center;
    line-height: 40px;
    background: red;
    font-size: 14px;
    color: #fff;
}
.passWord{
    width:270px;
    height:40px;
    font-size: 16px;
    color: gray;
    line-height: 40px;
    margin-top:30px;
    margin-left:100px;
    border: 1px solid gray;
}
.rules{
    margin-left: 100px;
    margin-top:30px;
}
.regedit{
    width:270px;
    height:40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: darkslategray;
    margin-left:100px;
    margin-top: 30px;
}
.ok{
    margin-left:150px;
    line-height: 50px;
}