*{
    margin:0px;
    padding:0px;
}
.head{
    font-size: 16px;
    color: #8e8e8e;
    line-height:60px;
    margin-left:100px;
}
.headPicture{
    width:1166px;
    height:455px;
    margin-left: 100px;
}
.content{
    width:1166px;
    height:673px;
    margin-left: 100px;
}
.ticket{
    display: inline-block;
    width:300px;
    height:40px;
    border:1px solid red;
    text-align: center;
    line-height: 40px;
    margin-left:420px;
    margin-top:80px;
}
.ticketMore{
    width:1166px;
    height:520px;
    margin-top:30px;
}